* {
    outline: none !important;
}
.admin_page #content {
	border-radius: 0px 15px 15px 0px;
}
.admin_page #content.wide{
	padding: 20px;
}
html.admin_page #page-wrap {
	background-image: url(../../images/ged_line.gif);
	overflow: auto;
	height: 100%;
}
h4.page-title {
	border-bottom: 1px solid #dee2e6;
	padding-left: 10px;
}
h4.page-title a.add_link {
	float: right;
	font-size: 14px;
	line-height: 3;
}
form div.form-group {
	padding-bottom: 10px;
}
form div.form-group .form-control {
	border:1px solid #dee2e6;
}
form div.form-group textarea.form-control {
	height: auto !important;
}
.table-responsive table.table td {
	width: auto;
}
/* pagination */
#content ul.pagination li{
	margin: 0px 0px 0px 10px;
}
#content ul.pagination li.page-item a{
	padding: 8px 10px;
}
#content ul.pagination li.disabled a{
	color: #6c757d;
}
.limit-selector {
	float: left;
}
.limit-selector #records-limit {
	height: 30px;
	width: 80px;
	font-size: 13px;
}
nav.pagination-wrapper {
	margin-right: 80px;
}

h6.day-title {
	margin-bottom:0;
}
.display-flex {
	display: flex;
}

/* Toggle switch container */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
  
/* Actual toggle switch */
.toggle-switch input[type="checkbox"] {
	opacity: 0;
	width: 0;
	height: 0;
}
  
/* Slider */
.toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
  
/* Rounded slider */
.toggle-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
  
/* When checked, translate the slider */
input[type="checkbox"]:checked + .toggle-slider {
	background-color: #2196F3;
}
  
/* When checked, translate the slider */
input[type="checkbox"]:checked + .toggle-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* tbl_style in tbl_bookingperiods */
#AVAILABLE_PERIOD_FORM table tr td {
	/* CSS styles for <td> elements */
	padding: 0;
	padding-left: 0.5em;
	
	/* padding: 0 0 0 0.1em; */
	
	/* padding: 0 0.1em; */
}

#AVAILABLE_PERIOD_FORM table tbody tr td:first-child {
	padding-top: 0.7em;
}

.move-booking-container {
	/* border: 1px solid #888; */
}

.move-booking-container .no-padding {
	padding: 0px 0px 10px 0px !important;
	border: 1px solid #888;
}

.move-booking-container h5 {
	border: 1px solid #888;
	border-left: 0px;
	border-right: 0px;
	background-color: #C5D4F0;
}

.move-booking-container label.form-control {
	padding-top: 10px;
}

.move-booking-container .input-group {
	/* border: 1px solid red; */
}

.move-booking-container .input-group-text {
	border: none;
	background: white;
}

.move-booking-container table {
	background-image: none;
	background-color: transparent;
	border: none;
}

.move-booking-container table td {
	padding: 0px 10px !important;
}

.move-booking-container table label.timeslot {
	margin-top: 7px;
}

.move-booking-container table label.booked {
	background-color: #93FF93;
}

.move-booking-container table label.unavailable {
	background-color: #FFE2A6;
}

.move-booking-container textarea {
	width: 95%;
}